<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
	<filter>
		<blacklist>
	        <directory>../vendor/*</directory>
	        <directory>../test/*</directory>
	    </blacklist>
	    <whitelist>
	        <directory>../src/*</directory>
	    </whitelist>
	</filter>
    <testsuites>
        <testsuite name="watermarker">
            <directory>./WatermarkerTest</directory>
        </testsuite>
    </testsuites>
</phpunit>