language: php

php:
  - 5.3
  - 5.4

branches:
  only:
    - master
    
notifications:
	email: false

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --prefer-dist --dev
  - cd test
  - ../vendor/bin/phpunit -c phpunit.xml.dist 
  